 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     overflow-x: hidden;
 }
 
 *:focus {
     outline: none;
 }
 
 header {
     width: 100%;
     height: 60px;
     background-color: rgb(33, 33, 33);
     box-shadow: 0 1px 10px 2px rgb(255, 149, 0);
     display: flex;
     flex-wrap: wrap;
     z-index: 1;
     overflow-y: hidden;
 }
 
 .logo {
     color: #ff0000;
     font-size: 17px;
     margin-top: 10px;
     margin-left: 10px;
     display: block;
     overflow-y: hidden;
 }
 
 .logo,
 h1 {
     font-family: 'Satisfy', cursive;
     overflow-y: hidden;
 }
 
 .searchbar {
     margin-top: 10px;
     margin-left: 100px;
     display: block;
     overflow-y: hidden;
 }
 
 input {
     width: 400px;
     height: 40px;
     border-radius: 25px;
     font-size: 15px;
     padding-left: 10px;
     font-size: 20px;
     overflow-y: hidden;
 }
 
 #sic {
     margin-top: 15px;
     font-size: 30px;
     color: #c9c9c9;
     margin-left: -40px;
     z-index: 0;
 }
 
 #fab {
     font-size: 40px;
     color: #ff1900;
     margin-top: 15px;
     z-index: 0;
     margin-left: 30px;
     cursor: pointer;
 }
 
 .fav {
     position: absolute;
     visibility: hidden;
     float: right;
     margin-right: 0px;
     right: -220;
     height: 100vh;
     width: 0;
     background-image: url('https://img.freepik.com/premium-vector/doodle-style-illustration-with-food-cooking-utensil-seamless-pattern-with-different-symbols_75047-68.jpg');
     z-index: 12;
     transition: all 500ms ease-in-out;
     box-shadow: 2px 0px 10px 5px orange;
 }
 
 #close {
     z-index: 14;
     color: #ff0000;
     font-size: 40px;
     text-shadow: 2px 2px 10px white;
     padding: 5px;
     cursor: pointer;
     overflow-y: hidden;
 }
 
 body {
     background-image: url('backgr.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }
 
 .d-block {
     height: 400px;
     margin-top: 50px;
 }
 
 .mealitem {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     width: 95%;
     margin-left: 2%;
     margin-top: 5rem;
     backdrop-filter: blur(2px);
 }
 
 .card-body {
     background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
 }
 
 .card-title {
     color: white;
 }
 
 .card {
     width: 250px;
     height: 350px;
     transition: all 500ms linear;
 }
 
 .card:hover {
     transform: scale(.9, .9);
     z-index: 1;
     box-shadow: 2px 2px 10px 2px black;
 }
 
 ul {
     font-size: 20px;
     padding: 2px;
 }
 
 .favcount {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: white;
     position: relative;
     top: 30px;
     left: -10px;
     overflow: hidden;
     text-align: center;
     font-weight: 500;
 }
 
 .result {
     color: orange;
     margin-top: 20px;
 }
 
 li {
     width: 98%;
     height: 5rem;
     backdrop-filter: blur(3px);
     border-radius: 10px;
     margin-top: 10px;
 }
 
 #list img {
     position: absolute;
     width: 80px;
     height: 4.5rem;
     margin-top: 3px;
     margin-left: 3px;
     border-radius: 50%;
     display: inline;
     overflow-y: hidden;
 }
 
 #list li label {
     color: rgb(255, 255, 255);
     font-weight: 600;
     width: 60%;
     height: 5rem;
     background-color: #ff0000;
     position: relative;
     display: block;
     left: 85px;
     font-size: 15px;
     padding: 2px;
     overflow-y: hidden;
 }
 
 #list li label div {
     margin-top: 10px;
     float: right;
     margin-right: 10px;
     margin-top: 32px;
     width: 20px;
     height: 20px;
     background-color: white;
     border-radius: 50%;
     overflow: hidden;
     cursor: pointer;
 }
 
 #closed {
     z-index: 14;
     color: #ff0000;
     font-size: 40px;
     text-shadow: 2px 2px 10px white;
     padding: 5px;
     cursor: pointer;
     overflow-y: hidden;
 }
 
 .detail {
     width: 80%;
     height: 80vh;
     position: fixed;
     background-color: black;
     z-index: 12;
     display: flex;
     flex-wrap: wrap;
     left: 10%;
     border-radius: 15px;
     overflow: hidden;
     transition: all 300ms linear;
     visibility: hidden;
 }
 
 .details {
     float: right;
     position: absolute;
     left: 95%;
     overflow: hidden;
 }
 
 .detail img {
     width: 45%;
     height: 100%;
 }
 /* .detail h2 {
     color: #f2ee9c;
     margin-left: 5px;
     margin-top: 10px;
     display: block;
 } */
 
 #artical {
     color: white;
     position: absolute;
     width: 53%;
     height: 40%;
     display: flex;
     flex-wrap: wrap;
     left: 45%;
     top: 60%;
     margin-left: 10px;
 }
 
 #ins h3 {
     color: rgb(165, 177, 0);
     overflow: hidden;
     position: absolute;
     left: 45%;
     top: 50%;
 }
 
 #dheading {
     display: flex;
     flex-wrap: wrap;
 }
 
 #dheading h3 {
     overflow: hidden;
     color: #f2ee9c;
     margin-left: 10px;
 }
 
 #cat h5 {
     display: block;
     margin-top: 40px;
     color: #f2ee9c;
     position: absolute;
     left: 45%;
     overflow: hidden;
     margin-left: 10px;
 }
 
 #blure {
     width: 98%;
     position: absolute;
     height: max-content;
     backdrop-filter: blur(5px);
 }
 
 #recipi h4 {
     overflow: hidden;
 }
 
 #recipi {
     width: 53%;
     height: 180px;
     position: absolute;
     top: 15%;
     left: 45%;
     margin-left: 10px;
     color: aliceblue;
     font-size: 12px;
 }
 
 .youbut {
     width: 50px;
     background-color: red;
     border: none;
 }
 
 .sugestion li {
     height: 40px;
     list-style: none;
     overflow: hidden;
     cursor: pointer;
 }
 
 .sugestion {
     width: 370px;
     min-height: 0;
     max-height: 50vh;
     background-color: white;
     position: absolute;
     z-index: 13;
     top: 50px;
     left: 360px;
     overflow: scroll;
     overflow-x: hidden;
     visibility: hidden;
 }
 
 @media only screen and (max-width: 772px) {
     .logo {
         display: none;
     }
     .searchbar {
         margin-left: 2px;
     }
     .d-block {
         height: 150px;
         margin-top: 10px;
     }
     input {
         width: 300px;
     }
     .card {
         width: 150px;
         height: 300px;
     }
     .mealitem {
         margin-top: 2rem;
     }
     #fab {
         font-size: 30px;
         margin-left: 10px;
     }
     .sugestion {
         left: 0;
     }
 }
 
 @media screen and(max-width:780) {
     #dheading h2 {
         font-size: 10px;
     }
 }
 
 @media only screen and (max-width: 480px) {
     .detail {
         height: 60vh;
     }
     .detail img {
         width: 40%;
         height: 30%;
         border-radius: 50%;
         margin-top: 20%;
         margin-left: 10px;
     }
     #artical {
         width: 90%;
         height: 40%;
         top: 60%;
         left: 0%;
     }
     #ins h3 {
         left: 10px;
     }
     #closed {
         margin-left: -20px;
     }
     #dheading {
         color: #f2ee9c;
         margin-left: 10px;
         margin-top: -85%;
         display: flex;
         flex-wrap: wrap;
     }
     #cat h5 {
         position: absolute;
         left: 45%;
         margin-left: 10px;
         top: 0px;
     }
     #recipi {
         width: 53%;
         height: 150px;
         position: absolute;
         top: 19%;
         left: 45%;
         margin-left: 10px;
         color: aliceblue;
         font-size: 12px;
     }
 }
 
 @media only screen and (max-width: 457px) {
     .detail img {
         width: 35%;
         height: 20%;
         margin-top: 130px;
     }
     #cat h5 {
         left: 5%;
         top: -30px;
     }
     #dheading {
         margin-left: 10px;
         margin-top: -95%;
     }
     .youbut {
         margin-top: 2px;
         height: 30px;
     }
     #closed {
         margin-left: -25px;
     }
 }